/* commons */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* main */
main{
    background: linear-gradient(to bottom, rgb(0, 150, 136), rgb(0, 150, 136) 25%, rgb(220, 219, 209) 25%, rgb(210, 219, 219) 100%);
    height: 100vh;
}

.container{
    height: 90vh;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}

.left-container{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.user-container,
.notice-container,
.contact-container,
.write-container{
    height: 10%;
}

.user-container{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: rgb(234, 234, 234);
}

.left-user-cont,
.right-user-cont{
    display: flex;
    align-items: center;
    width: 50%;
}

.right-user-cont{
    justify-content: flex-end;
}

.right-user-cont i{
    margin: 0 5px;
    color: rgb(177, 177, 177);
}

img{
    height: 100%;
    border-radius: 50%;
}

.notice-container{
    padding: 5px;
    background-color: rgb(142, 218, 252);
    display: flex;
    align-items: center;
}

.notice-container i{
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    color: rgb(142, 218, 252);
}

.notice-text{
    margin-left: 5px;
}

.notice-text h4{
    font-size: 13px;
}

.notice-text h6{
    font-size: 10px;
    color: grey;
    text-decoration: underline;
}

.search-container{
    height: 5%;
    padding: 2px 10px;
    background-color: rgb(250, 250, 250);
    display: flex;
    /* align-items: center; */
}

.search-container i{
    color: lightgrey;
    padding: 1px 20px;
    border: 1px solid lightgray;
    border-right: none;
}

.search-container input{
    border: 1px solid lightgray;
    width: 85%;
    padding: 0 20px;
}

input:focus{
    outline: none;
}

.list-container{
    height: 75%;
    background-color: white;
    overflow-y: scroll;
}

.contact{
    height: 50px;
    padding: 5px;
    display: flex;
}

.active{
    background-color: lightgray;
}

.contact:not(:last-child){
    border-bottom: 1px solid lightgray;
}

.contact span{
    margin-left: 15px;
}

.right-container{
    height: 100%;
    width: 67%;
}

.contact-container{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: rgb(234, 234, 234);
    border-left: 1px solid lightgray;
    color: rgb(177, 177, 177);
}

.left-contact-cont{
    display: flex;
    align-items: center;
}

.text-contact{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.text-contact span{
    font-size: 12px;
}

.text-contact h6{
    color: black;
}

.right-contact-cont{
    display: flex;
    align-items: center;
}

.right-contact-cont i{
    margin: 0 10px;
}

.chat-container{
    height: 80%;
    background-image: url(../img/mine.jpg);
    padding: 25px 50px;
    overflow-y: scroll;
}

.chat{
    width: 45%;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
}

.friend{
    background-color: rgb(213, 249, 186);
    float: right;
}

.user{
    background-color: white;
    float: left;
}

.date-text{
    text-align: right;
    color: gray;
    font-size: 8px;
}

.row::after{
    content: '';
    display: table;
    clear: both;
}

.write-container{
    background-color: rgb(243, 238, 234);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: grey;
}

.write-container input{
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

/* debug */

/* .debug .container{
    background-color: lightgray;
} */

/* .debug .left-container{
    background-color: lightsalmon;
} */

/* .debug .right-container{
    background-color: lightpink;
} */
/* .debug .user-container{
    background-color: lightcoral;
} */

/* .debug .notice-container{
    background-color: lightgoldenrodyellow;
} */

/* .debug .search-container{
    background-color: lightcyan;
} */

/* .debug .list-container{
    background-color: tomato;
} */

/* .debug .contact-container{
    background-color: lightskyblue;
} */

/* .debug .chat-container{
    background-color: lightsteelblue;
} */

/* .debug .write-container{
    background-color: lightgreen;
} */