<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- /fontawesome -->
    <!-- googlefont -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;900&display=swap" rel="stylesheet">
    <!-- /googlefont -->
    <title>Boolzapp</title>
</head>
<body class="debug">
    <!-- main -->
    <main>

        <!-- contenitore generale -->
        <div id="root" class="container">

            <!-- parte sinistra del contenitore -->
            <div class="left-container">

                <div class="user-container">
                    <div class="left-user-cont">
                        <img src="img/avatar_io.jpg" alt="mio avatar">
                        <span>Nome Utente</span>
                    </div>
                    <div class="right-user-cont">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>
                </div>

                <div class="notice-container">
                    <i class="fas fa-bell-slash"></i>
                    <div class="notice-text">
                        <h4>Ricevi notifiche di nuovi messaggi</h4>
                        <h6>Attiva notifiche desktop</h6>
                    </div>
                </div>

                <div class="search-container">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="cerca o inizia una nuova chat">
                </div>

                <!-- lista dei contatti -->
                <!-- da rendere poi dinamica -->
                <div class="list-container">
                    <div class="contact"  v-for="(contact, index) in contacts" :class="activeItem == index? 'active' : ''" @click="showContact(index)">
                        <img :src="`img/avatar${contact.avatar}.jpg`" :alt="contact.name">
                        <span>{{contact.name}}</span>
                    </div>

                    <!-- <div class="contact">
                        <img src="img/avatar_2.jpg" alt="Fabio">
                        <span>Fabio</span>
                    </div>

                    <div class="contact">
                        <img src="img/avatar_3.jpg" alt="Samuele">
                        <span>Samuele</span>
                    </div>

                    <div class="contact">
                        <img src="img/avatar_4.jpg" alt="Luisa">
                        <span>Luisa</span>
                    </div> -->

                </div>
                <!-- /lista contatti -->

            </div>
            <!-- /parte sinistra -->

            <!-- parte destra del contenitore -->
            <div class="right-container">

                
                <div class="contact-container">

                    <div class="left-contact-cont">
                        <img :src="`img/avatar${contacts[activeItem].avatar}.jpg`" :alt="contacts[activeItem].name">
                        <div class="text-contact">
                            <h6>{{contacts[activeItem].name}}</h6>
                            <!-- //come si accede all'ultimo oggetto dell'array dentro un oggetto??? -->
                            <span>Ultimo accesso oggi alle {{contacts[activeItem].messages[1].date}}</span>
                        </div>
                    </div>

                    <div class="right-contact-cont">
                        <i class="fas fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>

                </div>

                <div class="chat-container">
                    <div class="row" v-for="message in contacts[activeItem].messages">
                        <div class="chat" :class="message.status == 'received' ? 'user' : 'friend'">
                            <div class="text">
                                <!-- Hai portato a spasso il cane? -->
                                {{message.message}}
                            </div>
                            <div class="date-text">
                                <!-- 10/01/2020 15:30:55 -->
                                {{message.date}}
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="chat friend">
                            <div class="text">
                                Ricordati di dargli da mangiare
                            </div>
                            <div class="date-text">
                                10/01/2020 15:50:00
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="chat user">
                            <div class="text">Tutto fatto!</div>
                            <div class="date-text">10/01/2020 16:15:22</div>
                        </div>
                    </div> -->
                    
                </div>

                <div class="write-container">
                    <i class="far fa-smile"></i>
                    <input type="text" placeholder="scrivi un messaggio" v-model="inputUser" @keyup.enter="sendMessage">
                    <i class="fas fa-microphone"></i>
                </div>

            </div>
            <!-- /parte destra -->

        </div>
        <!-- /contenitore generale -->

    </main>
    <!-- /main -->

    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- /vue -->
    <script src="js/script.js"></script>
</body>
</html>